:root {
    --primary-color: #166534;
    --secondary-color: #16a34a;
    --background-color: #f3f4f6;
    --white-color: #ffffff;
    --text-color: #1f2937;
    --border-color: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
}

nav h1 {
    color: var(--text-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    color: var(--text-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
}

.container {
    width: 100%;
    margin: 5px;

     /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
}

.academics-header {
    background-image: url('house.jpg');
    color: var(--white-color);
    padding: 60px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.academics-header .excellence {
    padding: 10px;
    margin-bottom: 1.3rem;
    width:20rem;
    border-radius: 25px;
    background-color: var(--primary-color);
}

.academics-header h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.mery {
    margin-bottom: 15px;
}

.wlm {
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.wlm h2 {
    margin-bottom: 15px;
    color: var(--text-color);
}


.departments {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px;
    margin-bottom: 20px;

     /* display: flex; */
}
/* .departments div{
    withd:50%;
} */

.department {
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.department h3 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.department a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.stat-box {
    flex: 1;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    text-align: center;
}

.stat-box h2 {
    color: var(--primary-color);
    font-size: 28px;
}

footer {
    background-color: var(--white-color);
    padding: 40px 80px;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 100%;
}

.mervi {
    color: var(--text-color);
    margin-bottom: 15px;

}

.brid {
    list-style: none;
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
}

.bir {
    list-style: none;
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
    justify-content: center;
}

.bit {
    list-style: none;
    flex-direction: row;
    gap: 30px;
    color: var(--text-color);
    width: 5px;
}

footer ul {
    list-style: none;
}

footer .div {
    display: flex;
    gap: 40px;
    width: 300px;
}